<!DOCTYPE html>
<html>
<style type="text/css">
	td, th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
</style>
<head>
	<title>{{judul}}</title>
</head>
<body>
	<h1> {{judul}}  </h1>
	<p>Selamat datang di {{pagename}} dengan kontributor {{kontributor}}</p>
	<p>Daftar Mahasiswa</p>
  <table>
  <tr>
  	<th>NIM</th>
  	<th>Nama Mahasiswa</th>
  	<th>Program Studi</th>
  </tr>
  {% for mhs in Mahasiswas %}
  	<tr>
  		<td>{{mhs.nim}}</td>
  		<td>{{mhs.nama}}</td>
  		<td>{{mhs.ps}}</td>
  	</tr>
  {% endfor %}
  </table>
	<p><a href="/">Kembali ke home</a></p>
</body>
</html>